.image-doctor {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    // object-fit: cover;
    background-size: cover;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
}

.flex.confirm-modal-content {
    display: flex !important;
    cursor: pointer;

    .name-doctor {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-weight: bold;
        }
    }
}

.gappp.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}